<!-- <ng-table-column [settings]="settings"></ng-table-column> -->

<div class="ng-table-container">
    <div *ngIf="isLoading" class="table-loading">
        <div class="loading-spinner">
            <i>Refresh icon go here</i>
        </div>
    </div>
    <div class="main-container" [ngClass]="{'loading': isLoading}">
        <!-- injected template  -->
        <ng-table-header *ngIf="props.isHaveHeader" [headerControlTemplate]="headerControlTemplate" [headerTemplate]="headerTemplate" [settings]="settings"></ng-table-header>
        <ng-table-column (onTriggerExpand)="handleColumnTriggerExpand($event)" #tbColumn></ng-table-column>
        <!-- table header -->
        <ng-action-button [actionButtonSettings]="settings.actionButtons" #tbActionButtons [actBtnTemplate]="actBtnTemplate"></ng-action-button>
        <ng-table-content 
            [columnTriggerExpand$] = "columnTriggerExpand$"
            [settings]="settings" [sortState]="sortState" [props]="props" [dataSource]="dataSource" [colTemplates]="colTemplates"
            [tbColumn]="tbColumn" [tbActions]="tbActionButtons" [rowTotalTemplate]="rowTotalTemplate" [isLoading]="isLoading"
            (changeOrderState)="handleOrderStateChange($event)" [rowExpandTemplate]="rowExpandTemplate"
            > 
        </ng-table-content>
        <!-- table footeer -->
        <div class="table-footer" *ngIf="footerTemplate && footerTemplate.templateRef">
            <ng-container *ngTemplateOutlet="footerTemplate.templateRef"></ng-container>
        </div>
        <ng-table-navigation *ngIf="settings.pagination" (change)="onPagingOptionChange($event)"></ng-table-navigation>
    </div>

  
</div>






