<ng-table [isLoading]="loading" [settings]="settings" [filterModel$]="filterModel$"[dataSource]="data" (sortStateChange)="sortStateChange($event)" 
(pagingOptionChange)="pagingOptionChange($event)">
    <ng-template tableHeaderControl>
        <button (click)="onHeaderButtonClick()">1</button>
        <button>2</button>
    </ng-template>
    <ng-template tableColumn for="no" let-data="rowData">
        <div style="background: gainsboro;">This is my custom column: {{data.no.subProp + data.age}}</div>
    </ng-template>
    <ng-template tableRowExpand>
        <tr >
            <td [colSpan]="this.settings.columns.length">
                <ng-other-componnet></ng-other-componnet>
            </td>
        </tr>
    </ng-template>
</ng-table>

<input type="text" (change)="inputChange($event)">