<ng-table [isLoading]="loading" [settings]="settings" [filterModel$]="filterModel$"[dataSource]="data" (sortStateChange)="sortStateChange($event)" 
(pagingOptionChange)="pagingOptionChange($event)">
    <ng-template tableHeader>
        User list
    </ng-template>
    <ng-template tableHeaderControl>
        <button (click)="onHeaderButtonClick()">Add new</button>
        <button>Export</button>
    </ng-template>
    <ng-template #column tableColumn for="no" let-data="rowData" let-triggerExpand="triggerExpand()" let-col="col">
        <div (click)="triggerExpand" style="background: gainsboro;">This is my custom column: {{data.no.subProp + data.age}}</div>
    </ng-template>
    <ng-template tableRowExpand let-rowData="rowData">
        <tr>
            <td [colSpan]="settings.columns.length + 1" class="text-center">
                <ng-other-componnet [name]="rowData"></ng-other-componnet>
            </td>
        </tr>
    </ng-template>
</ng-table>

<input type="text" (change)="inputChange($event)">