:host
    ::ng-deep
        .table-header
            margin-bottom: 16px
            display: flex
            align-items: center
            justify-content: space-between
            .group-control
                display: flex
                align-items: center
                > *:not(:last-child)
                    margin-right: 8px
                button
                    padding: 8px 12px